@font-face {
  font-family: "PT Sans", sans-serif;
  src: url("../fonts/PTSans/PTSans-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url("../fonts/PTSans/PTSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}