.offer {
  @include make-col-ready();

  margin-bottom: 30px;

  &.is-half {
    @include media-breakpoint-up(xl) {
      @include make-col($size: 6);
    }
  }

  &__thumbnail {
    // @include img-fluid();

    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}