.statistics {
  height: 140px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;

  &__item {
    @include make-col-ready();
    @include make-col($size: 3);

    text-align: center;
    height: 80px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      border-right-color: #ddd;
    }
  }

  &__count {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
  }

  &__name {
    width: 100%;
    font-size: 18px;
    color: #aaa;
  }
}